
* {
  box-sizing: border-box;
}
.todo-container {
  width: 100%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: 20px;
}

.add-todo {
  margin-bottom: 10px;
  width:100%;
  display: flex;
  & button{
    width:30%;
    
  }
}

.add-todo input {
  padding: 8px;
  width: 70%;
}

.add-todo input:focus{
    outline:none;
    border:2px solid #f44336;
}

.add-todo button {
  padding: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    .edit-input{
        padding:5px;
        border:2px solid #ccc;
        border-radius:5px;
    }
    .edit-input:focus{
        outline:none;
        border:2px solid #f44336;

    }
}

.checkbox-text-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

span {
width: 100%;
  min-width:0;
  max-width:1450px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}
.completed {
  text-decoration: line-through;
  color: gray;
}

button {
  margin-left: auto;
  padding: 5px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}
.delete-btn{
    background-color: #f44336;
    margin-right:1px
}
.upd-btn{
    background-color: #4CAF50;
}
.upd-btn:hover{
    background-color: #38683a;
}


button:hover {
  background-color: #d32f2f;
}

/* Responsive adjustments */
@media (max-width:600px) {

     .todo-container {
    width: 100%;
    padding: 10px;
  }

  .add-todo {
    flex-direction: column;
     width: 100%;
    input {
      margin-right: 0;
      margin-bottom: 10px;
      width: 100%;
    }

    button {
      width: 100%;
    }
  }

  .checkbox-text-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  li {
    flex-direction: column;
    align-items: flex-start;

    button {
      margin-top: 10px;
      width: 100%;
    }
  }
}
